<%= form_for(@participant,
             html: {
               class: "form-horizontal"
              }) do |f| %>
  <% if @participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
      <% @participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="control-group">
    <%= f.label :name, class: 'control-label' %><br />
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :age, class: 'control-label' %><br />
    <div class="controls">
      <%= f.number_field :age %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, class: 'control-label' %><br />
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payed, class: 'control-label' %><br />
    <div class="controls">
      <%= f.check_box :payed %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
</div>
<% end %>
